module-3/solidity/out
module-3/solidity/cache

.DS_Store
**/.DS_Store
.vercel

**/node_modules
.env

# Hardhat files
**/cache
**/artifacts

# TypeChain files
**/typechain
**/typechain-types

# solidity-coverage files
**/coverage
**/coverage.json

# Hardhat Ignition default folder for deployments against a local node
**/ignition/deployments/chain-31337

**/baseline
**/sumo-log.txt

module-12/defi/out
module-12/defi/cache
module-12/defi/lib

**/build

# I'm on an M1 Mac, so I need to clone the graph-node-master repo to run the graph-node container (build my own image)
module-13/thegraph/graph-node-master
module-13/thegraph/casino-slot-subgraph/data